@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #21223e38;
}
header {
  background-color: #21223e;
  width: 100%;
  overflow: hidden;
  border-bottom: 2rem solid #16172bdc;
}
.imgH {
  width: 100vw;
  background-color: #21223e;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding-top: 0.5rem;
}
.imgH img {
  max-width: 400px;
  border-radius: 150px;
  border: 2px solid gold;
}
.sidebar {
  width: 17rem;
  height: 100vh;
  background-color: #21223e;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: 1.2s;
  z-index: 20;
}

.sidebar.show-menu {
  right: 0rem;
}
.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-item {
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.616);
}
.menu-link {
  font-family: Roboto;
  font-size: 2rem;
  color: white;
  transition: color 1s;
}

.menu-p {
  font-family: Roboto;
  font-size: 2rem;
  color: white;
  transition: color 0.6s;
}
#hDL {
  display: none;
}
#iEL {
  display: none;
}
.menu-a {
  padding: 2%;
}
.menu-a a {
  font-family: Roboto;
  font-size: 1.2rem;
  text-align: center;
  color: green;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.616);
}
.menu-a a:hover {
  color: gold;
  font-size: 1.3rem;
}
.semaula a {
  font-family: Roboto;
  font-size: 1.2rem;
  text-align: center;
  color: red;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.616);
}
.aulas {
  font-family: Roboto;
  font-size: 1rem;
  color: white;
  transition: color 1s;
}
.menu-link:hover {
  color: gold;
  cursor: pointer;
}
.social {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.social i {
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 1s;
}
.social i:hover {
  color: gold;
}
.hamburguer {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 1.5rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: 1.2s;
}
.hamburguer.show-menu {
  right: 17rem;
  right: 14rem;
}

.hamburguer.hamburguer.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}
.hamburguer.hamburguer.show-menu #line1 {
  transform: rotate(45deg) translate(0.55rem, 0.45rem);
}
.hamburguer.hamburguer.show-menu #line3 {
  transform: rotate(-45deg) translate(0.2rem, -0.2rem);
}
.hamburguer.hamburguer.show-menu .line {
  background-color: gold;
}

.line {
  width: 100%;
  height: 0.13rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.507);
  transition: 1s;
}

.content {
  position: relative;
  text-align: center;
  padding-top: 3rem;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video {
  position: relative;
  padding-top: 3rem;
  width: 100%;
  height: 100vw;
  overflow: hidden;
  padding-bottom: 2rem;
}
iframe {
  max-width: 750px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content h1 {
  font-family: Roboto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
}

@media screen and (max-width: 500px) {
  header {
    background-color: #21223e;
    width: fit-content;
    overflow: hidden;
    border-bottom: 2rem solid #16172bdc;
  }
  .imgH {
    max-width: 100vh;
    max-height: 95.33px;
    background-color: #21223e;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    padding-top: 0.5rem;
  }
  .imgH img {
    max-width: 254px;
    max-height: 127px;
    border-radius: 87.33px;
    border: 2px solid gold;
  }
}
